<div class="navbar bg-dark ">
  <div class="row">
    <div class="col-md-4">
      <a class="navbar-brand text-white">
        SPORTS STORE
      </a>
    </div>
    <div class="col-md-8 text-white">
      <store-cartsummary></store-cartsummary>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-3">
    <store-categoryfilter></store-categoryfilter>
  </div>
  <div class="col-md-9">
    <store-product-list></store-product-list>
    <store-pagination></store-pagination>
  </div>
</div>
